fastapi
uvicorn
google-genai
redis
alembic
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
python-multipart
sqlalchemy[asyncio] 
asyncpg
pydantic-settings
pydantic[email]
httpx
structlog
resend
jinja2
celery
aiosqlite
vaderSentiment
pgvector
sentence-transformers
openai # for the llama model from nvidia
# --- test dependencies ---
pytest
pytest-asyncio
httpx

# 